.product-img{
position: relative;
height: 200px;
}

.product-image{
    max-width: 90%;
    max-height: 90%;
    position:relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}